*{
  margin: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  text-decoration: none;
  color: black;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

header{
  width: 100%;
  box-sizing: border-box;
  display:flex;
  height:5em;
  position: fixed;
  background-color:rgba(0, 0, 0, 0.34);
  padding:1em 2em;
  z-index: 10;
  
  
}




.header-login,
.header-options,
.header-logo {
  flex: 1;
  display: flex;
}
.WH100{width: 100%;
height: 100%;}


.header-login {
  justify-content: end;

}

.w-button,
.a-button {
  width: 8em;
  background-color: white;
  /* padding: 30%; */
  /* border-radius: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-button {
  background-color: transparent;
}

.a-button a {
  color: white;
  display: flex;
  justify-content: center;
  
  align-items: center;
  width: fit-content;
}

.a-button img {
  width: 1.4em;
  height: .8em;
  padding: 0 0 0 0.5em ;
}


section.banner {
position: relative;
height: 100vh;
}

section.banner img{
/* width: 100%;
height: 100%; */
object-fit: cover;
position:absolute;
top: 0;
z-index: -100;
user-select: none;
filter: brightness(90%);
}

div.banner-text{
  position: absolute;
 top:50%;
 transform:translateY(-50%);
 left: 7%;
display: inline-block;
user-select: none;

}

div.banner-subtext{
display: flex;
gap: 3em;

}

div.banner-text h1{
font-size: 5em;
height: fit-content;
margin-bottom:5% ;
color: white;
}

div.banner-subtext p{
  max-width: 15em;
font-weight: 800;
font-size: 1.5em;
color: white;
}


.padding{
  
  padding: 0 2em;
}

.display-grid{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  align-content: center;}

section.search{
width: 100%;
height: 17em;
background-color: rgb(237,237,237)a;

}

.search-text span{
font-size: 2.3em;
/* font-weight: 800; */
max-width: 2em;

}

.search-text {
  max-width: 25em;
}
.search-box{
  display: flex;
  gap: 1em;
  height: 4em;
  margin-bottom: 2em;
  position: relative;
}

.search-box img{
top: 1em;
left: .5em;
width: 2em;
height: 2em;
position: absolute;

}
.search-box input{
/* width: 100%; */
padding-left: 3em;
padding-right: 1em;
font-size: 1em;
}

.search-box input::placeholder{
  color: rgb(190, 190, 190);
}

.search-box button{
  width: 14em;
  background-color: black;
  color: white;
  cursor: pointer;
}
.search-container a{
  text-decoration: underline;
  text-underline-offset:.3em
}

section.description{
background-color: rgb(232,228,228);
height: 32em;

/* column-gap: 4em; */
}

section.description div.des-pic img{
width:80%;
height:22em;
object-fit: cover;

}

div.descript-detail{
display: flex;
flex-direction: column;
justify-content: space-between;
max-width: 70%;



}

div.descript-detail div h1{
margin-bottom: .7em;

}
div.descript-detail div p{
  line-height:1.3em;
}

section.temp{
  height: 24em;
  
}

section.temp .temp-text span{
  font-size: 3.6em;
}
section.temp .temp-text{max-width: 30em;}
.temp-explore p{
font-size: 1.2em;
max-width: 95%;
}

.temp-explore a{
  width: fit-content;
  margin-top: 2em;
height: 4em;
display: flex;
align-items: center;
border: solid black 1px;
padding: 1em 2em;
gap: .5em;
}
.temp-explore a img{
  width: 1em;
height: 1em;
}

section.items-and-options{
display: flex;
justify-content:space-between;
margin-bottom: 8em;
}

section.items-and-options div.item-bar{
display: flex;
flex-direction: column;
width: 40%;
gap:2%;
font-size: 2.5em;
font-weight: 500;

}

section.items-and-options div.slider{
width: 57%;

}
/* section.items-and-options div.slider img{width: 100%;
height: 100%;} */




footer{
  background-color: black;
display: flex;
padding-top: 10em !important;
padding-bottom: 10em !important;
/* gap: 1em; */
justify-content: space-between;
padding: 50% 0;
}



.flex-col{
  display: flex;
  flex-direction: column;
  color: white;
}
.footer-exchaing{width: 15%;
gap: 2.5em;

}
.footer-items{width: 78%;
display: grid;
grid-template-columns: repeat(5,1fr);
column-gap:3%;

}

footer img{width: 100%;
height: 100%;}

.footer-exchaing button{display: flex;
align-items: center;
justify-content: space-between;
width: 80%;
background-color: rgb(36, 36, 36);
border: none;
padding:1.2em 2em;
color: white;
cursor: pointer;;

}

.footer-exchaing button img  {
  width: 1em;
  height: 1em;
}

.footer-logo{
  width: 100%;
  /* height: 5em; */
display: flex;

align-items: center;
}
.footer-logo img{width:7em;

}

.footer-exchaing .verfied{
font-size: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(153,153,153);
  gap: 1em;
  user-select: none;
}

.footer-exchaing .verfied img{width: 3em;
height: 3em;}

.flex-col a{color: rgb(153,153,153);
}


.footer-items .tags{
gap: .7em;

}

.footer-items .tags a{font-size: 90%;
font-weight: 500;}

.footer-items span{
  padding-bottom: 1em;
  user-select: none;
}